<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddEmployeeData" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGetEmployeeData" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49341/EmployeeOperationImplementation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddEmployeeData"
                contract="EmployeeService.IAddEmployeeData" name="BasicHttpBinding_IAddEmployeeData" />
            <endpoint address="http://localhost:49341/EmployeeOperationImplementation.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGetEmployeeData"
                contract="EmployeeService.IGetEmployeeData" name="WSHttpBinding_IGetEmployeeData">
                <identity>
                    <userPrincipalName value="bwaval@pune.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>